.chatWindow {
  overflow: scroll;
  /*  display: flex;
  flex-direction: column-reverse;
   */
  &__message {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  &__match {
    text-align: center;
    color: $dark-gray;
    padding: 20px;
  }
  &__text {
    margin-left: 10px;
    display: flex;
    background-color: $dark-pink;
    padding: 15px;
    color: white;
    border-radius: 15px;
  }
  &__textUser {
    margin-right: 10px;
    margin-left: auto;
    background-color: rgb(49, 158, 254);
    padding: 15px;
    color: white;
    border-radius: 15px;
  }
  &__messageInput {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(227, 227, 227);
    background-color: white;
  }
  &__messageInputText {
    flex: 1;
    padding: 10px;
  }
  &__inputButton {
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    color: $dark-pink;
  }
}
