.chatWindow {
  max-height: calc(100vh - 167.75px);
  overflow: scroll;
  &__message {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  &__match {
    text-align: center;
    color: $dark-gray;
    padding-top: 20px;
  }
  &__text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    display: flex;
    background-color: rgb(232, 230, 230);
    color: black;
    border-radius: 15px;
    padding: 12px;
    max-width: 250px;
  }
  &__textUser {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    background-color: rgb(49, 158, 254);
    color: white;
    border-radius: 15px;
    padding: 12px;
    max-width: 250px;
  }
  &__messageInput {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(227, 227, 227);
    background-color: white;
  }
  &__messageInputText {
    flex: 1;
    padding: 10px;
  }
  &__inputButton {
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    color: $dark-pink;
  }

  &__userLink {
    color: $dark-pink;
    &:hover {
      text-decoration: underline;
    }
  }
}
