.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 50px;
  box-shadow: 0px 2px 2px $light-gray;
  &__avatar img {
    border-radius: 50%;
  }
  &__logo {
    height: 70px;
    &:hover {
      filter: drop-shadow(0px 0px 2px $light-gray);
      cursor: pointer;
    }
  }
  svg {
    color: $light-gray;
    padding: 2px;
    font-size: 45px;
  }
}
