.pupListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  &__avatarDetails {
    display: flex;
    width: 200px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: start;
    color: $light-pink;
    p {
      color: lightgray;
      font-size: 1rem;
      text-transform: none !important;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__button {
    width: 90%;
    height: 15vh;
    border-bottom: 1px solid rgb(251, 251, 251);
    color: $light-pink !important;
    display: flex;
    justify-content: center;
  }
  &__destroy {
    display: flex;
    width: 10%;
    height: 100px;
  }
}
