.pupListItem {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding-left: 20px;
  &__avatarDetails {
    display: flex;
  }
  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: start;
    color: $light-pink;
    p {
      color: lightgray;
      font-size: 1rem;
      text-transform: none !important;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__button {
    height: 15vh;
    min-width: 200px;
    border-bottom: 1px solid rgb(251, 251, 251);
    color: $light-pink !important;
  }
  &__destroy {
    color: rgb(254, 128, 128) !important;
  }
  &__edit {
    color: #96e582 !important;
    height: 100%;
  }
}
