.pupForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85vh;
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 300px;
    padding: 40px;
    border-radius: 5px;
  }
  &__addPadding {
    padding-top: 15px !important;
  }
  &__genderGroup {
    margin-left: -13px;
  }
  .genderIcons {
    color: #959595;
    font-size: 25px;
  }
  &__button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    color: white !important;
    background-image: linear-gradient(#fd93ff, #ff6fd7, #ff00b8);
    input[type="file"] {
      display: none;
    }
    &:hover {
      box-shadow: 0px 0px 5px rgb(176, 176, 176);
    }
    &:active {
      box-shadow: 0px 0px 10px rgb(130, 130, 130);
    }
  }
  &__red {
    color: red;
  }
}
