$light-gray: rgb(176, 176, 176);
$dark-gray: rgb(98, 98, 98);
$dark-pink: #ff00b8;
$light-pink: #fd93ff;
$blue: rgb(49, 158, 254);

@import "_AddPupForm";
@import "_ChatWindow";
@import "_ListItemContainer";
@import "_Navbar";
@import "_SignIn";
@import "_ChatListItem";
@import "_PupListItem";
@import "_SwipeButtons";
@import "_PupCardStack";
